COMPOSE_PROJECT_NAME=marketlense-wordpress
WORDPRESS_PORT=8088
PMA_PORT=8089
MYSQL_DATABASE=marketlense_wp
MYSQL_USER=marketlense_wp
MYSQL_PASSWORD=change_me_wp_password
MYSQL_ROOT_PASSWORD=change_me_root_password
WORDPRESS_TABLE_PREFIX=ml_
WORDPRESS_DEBUG=1
